{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block content %}
<div class="container">
	<div class="card">
		<img src="{{book.cover.url}}" alt="cover">
		<p>{{book.title}} title</p>
		<p>{{book.author}}</p>
		<p>{{book.description}}</p>
		<p>{{book.year}}</p>
		<a href="{{ book.pdf.url }}" class="btn btn-outline-primary" target="_blank">Read Book</a>
		<a href="{{ book.pdf.url }}" download class="btn btn-outline-success">Download PDF</a>



{% if ratings %}
    <div class="row">
        <div class="col-md-12">
            <h5 class="indigo-text h5 mb-4 text-center">RATINGS</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <h6>USABILITY</h6>
            <p>{{usability_rating.usability__avg}}</p>
        </div>
        <div class="col-md-2">
            <h6>DESIGN</h6>
            <p>{{design_rating.design__avg}}</p>
        </div>
        <div class="col-md-2">
            <h6>CONTENT</h6>
            <p>{{content_rating.content__avg}}</p>
        </div>
        <p>{{rating.comment}} comment</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h6 class="text-center">OVERALL SCORE</h6>
            <p>{{ usability_rating.usability__avg| add:design_rating.design__avg| add:content_rating.content__avg| div:3| truncatechars:6 }}</p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <h5 class="indigo-text h5 mb-4 text-center">THERE ARE NO RATINGS YET</h5>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'rate' book_id=book.id %}" class="btn blue-gradient">RATE THIS PROJECT</a>
        </div>
    </div>
  </div>
</div>
{% endblock %}