{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}
{% block content %}
<div class="container">
	<div class="card">
		<img src="{{book.cover.url}}" alt="cover" style="height:35rem;">
		<p>Title:{{book.title}}</p>
		<p>Author:{{book.author}}</p>
		<p>Description:{{book.description}}</p>
		<p>Year of Publication{{book.year}}</p>
        <div class="row">
            <div class="col-md-6">
                <a href="{{ book.pdf.url }}" class="btn btn-outline-primary" target="_blank" style="width: 50%; float:right;">Read Book</a>
            </div>
            <div class="col-md-6">
                <a href="{{ book.pdf.url }}" download class="btn btn-outline-success" style="width:50%; ">Download PDF</a>
            </div>
        </div>



{% if ratings %}
    <div class="row">
        <div class="col-md-12">
            <h5 class="indigo-text h5 mb-4 text-center">RATINGS</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-2">
            <h6>entertainment</h6>
            <p>{{entertainment_rating.entertainment__avg}}</p>
        </div>
        <div class="col-md-2">
            <h6>characters</h6>
            <p>{{characters_rating.characters__avg}}</p>
        </div>
        <div class="col-md-2">
            <h6>plot</h6>
            <p>{{plot_rating.plot__avg}}</p>
        </div>
        <p>{{rating_form.comment}} comment</p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h6 class="text-center">OVERALL SCORE</h6>
            <p>{{ entertainment_rating.entertainment__avg| add:characters_rating.characters__avg| add:plot_rating.plot__avg| div:3| truncatechars:6 }}</p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12">
            <h5 class="indigo-text h5 mb-4 text-center">THERE ARE NO RATINGS YET</h5>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <div class="col-md-12">
            <a href="{% url 'rate' book_id=book.id %}" class="btn blue-gradient">RATE THIS PROJECT</a>
        </div>
    </div>
    </div>
</div>
{% endblock %}